*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

.header,
.main,
.footer {
  background: #1f2937;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container h1 {
  font-size: 1.5rem;
  color: #f9faf8;
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-list a {
  font-size: 1.125rem;
  color: #e5e7eb;
}

.main-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 3rem 0;
  gap: 2rem;
}

.main-container-text h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #f9faf8;
}

.main-container-text p {
  font-size: 1.125rem;
  color: #f9faf8;
  margin-bottom: 6px;
}

.main-container-text button {
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  color: #f9faf8;
  font-size: 1.125rem;
  font-weight: 900;
  padding: 6px 2rem;
}

.main-container img {
  display: block;
  width: 100%;
  height: 216px;
}

.information {
  padding: 2rem 0 4rem 0;
}

.information h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 2rem;
}

.information-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.information-content-item {
  max-width: 150px;
}

.information-content-item p {
  text-align: center;
}

.information-content-item img {
  border: 2px solid #3882f6;
  border-radius: 6px;
}

.quote {
  background: #e5e7eb;
}

.quote-container {
  max-width: 720px;
  margin: 0 auto;
  padding: 4rem 0;
}

.quote-container blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-container p {
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.quote-container footer {
  align-self: flex-end;
  margin-right: 50px;
  font-size: 1.125rem;
}

.sign-up {
  max-width: 960px;
  margin: 4rem auto;
  background: #3882f6;
  border-radius: 6px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.sign-up-text {
  color: #f9faf8;
}

.sign-up-text p {
  font-size: 1.125rem;
}

.sign-up button {
  background: none;
  border: 1px solid #f9faf8;
  border-radius: 6px;
  color: #f9faf8;
  font-size: 1.125rem;
  font-weight: 900;
  padding: 6px 2rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: #f9faf8;
  font-size: 0.825rem;
}
